{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.exerra.xyz/v2/"
    }
  ],
  "info": {
    "description": "",
    "version": "1.0.0",
    "title": "Exerra API",
    "termsOfService": "",
    "contact": {
      "email": "exerra@exerra.xyz",
      "name": "Exerra"
    }
  },
  "tags": [
    {
      "name": "Phishing API"
    },
    {
      "name": "Karen Bot API",
      "description": "Endpoints for the Karen Bot profile API"
    }
  ],
  "paths": {
    "/scam": {
      "get": {
        "summary": "Check a link",
        "description": "Check if a link is a known phishing attempt",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": ""
            },
            "description": "A valid HTTP(s) URL that you want to check"
          }
        ],
        "operationId": "checkIfLinkPhishing",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/isDomainPhishing"
                }
              }
            }
          }
        },
        "tags": [
          "Phishing API"
        ]
      }
    },
    "/scam/stats": {
      "get": {
        "summary": "Get stats",
        "description": "Get statistics about the Exerra Phishing API",
        "parameters": [],
        "operationId": "getStats",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/linkStats"
                }
              }
            }
          }
        },
        "tags": [
          "Phishing API"
        ]
      }
    },
    "/karen/profile": {
      "get": {
        "summary": "Get profile",
        "description": "Get a users profile by ID",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the user"
          },
          {
            "name": "fetchUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "If toggled, fetches the Discord user of that ID (if profile is in the database)",
            "format": ""
          }
        ],
        "operationId": "getKarenBotProfile",
        "responses": {
          "default": {
            "description": "Profile (with false or undefined fetchProfile)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/karenGetProfile200"
                }
              }
            }
          },
          "200 ?fetchUser=true": {
            "description": "Profile (with true fetchProfile)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/karenGetProfile200fetchUser"
                }
              }
            }
          }
        },
        "tags": [
          "Karen Bot API"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "allDomains": {
        "type": "object",
        "properties": {
          "status": {
            "format": "int16",
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "isDomainPhishing": {
        "type": "object",
        "properties": {
          "status": {
            "format": "int16",
            "type": "integer"
          },
          "data": {
            "type": "object",
            "properties": {
              "isScam": {
                "type": "boolean"
              },
              "domain": {
                "type": "string"
              },
              "detection": {
                "type": "object",
                "properties": {
                  "type": {
                    "enum": ["domain", "link"]
                  }
                }
              }
            }
          }
        }
      },
      "linkStats": {
        "type": "object",
        "properties": {
          "status": {
            "format": "int16",
            "type": "integer"
          },
          "data": {
            "type": "object",
            "properties": {
              "domains": {
                "type": "number"
              },
              "links": {
                "type": "number"
              }
            }
          }
        }
      },
      "isDomainPhishingError": {
        "type": "object",
        "properties": {
          "status": {
            "format": "int16",
            "type": "integer"
          },
          "reason": {
            "type": "string"
          },
          "humanReadable": {
            "type": "string"
          }
        }
      },
      "karenGetProfile200": {
        "type": "object",
        "properties": {
          "status": {
            "format": "int16",
            "type": "integer"
          },
          "data": {
            "type": "object",
            "properties": {
              "profile": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "gender": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "rank": {
                    "type": "string"
                  },
                  "languages": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "website": {
                    "type": "string"
                  },
                  "twitter": {
                    "type": "string"
                  },
                  "file": {
                    "type": "object",
                    "properties": {
                      "iso8601": {
                        "type": "object",
                        "properties": {
                          "lastModified": {
                            "type": "string",
                            "format": "date",
                            "example": "2022-02-13T22:44:36.414Z"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date",
                            "example": "2022-02-13T22:44:36.414Z"
                          }
                        }
                      },
                      "ms": {
                        "type": "object",
                        "properties": {
                          "lastModified": {
                            "type": "string",
                            "format": "date",
                            "example": "2022-02-13T22:44:36.414Z"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date",
                            "example": "2022-02-13T22:44:36.414Z"
                          }
                        }
                      }
                    }
                  },
                  "pronouns": {
                    "type": "string"
                  }
                }
              },
              "id": {
                "type": "string"
              }
            }
          }
        }
      },
      "karenGetProfile200fetchUser": {
        "type": "object",
        "properties": {
          "status": {
            "format": "int16",
            "type": "integer"
          },
          "data": {
            "type": "object",
            "properties": {
              "profile": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "gender": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "rank": {
                    "type": "string"
                  },
                  "languages": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "website": {
                    "type": "string"
                  },
                  "twitter": {
                    "type": "string"
                  },
                  "file": {
                    "type": "object",
                    "properties": {
                      "iso8601": {
                        "type": "object",
                        "properties": {
                          "lastModified": {
                            "type": "string",
                            "format": "date",
                            "example": "2022-02-13T22:44:36.414Z"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date",
                            "example": "2022-02-13T22:44:36.414Z"
                          }
                        }
                      },
                      "ms": {
                        "type": "object",
                        "properties": {
                          "lastModified": {
                            "type": "string",
                            "format": "date",
                            "example": "2022-02-13T22:44:36.414Z"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date",
                            "example": "2022-02-13T22:44:36.414Z"
                          }
                        }
                      }
                    }
                  },
                  "pronouns": {
                    "type": "string"
                  }
                }
              },
              "id": {
                "type": "string"
              },
              "username": {
                "type": "string"
              },
              "discriminator": {
                "type": "string"
              },
              "publicFlags": {
                "type": "integer",
                "format": "int16"
              },
              "badges": {
                "description": "Decoded flags",
                "type": "array",
                "properties": {
                  "badges": {
                    "type": "string"
                  }
                }
              },
              "avatar": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Avatar ID"
                  },
                  "url": {
                    "description": "Avatar URLs",
                    "type": "object",
                    "properties": {
                      "png": {
                        "type": "string"
                      },
                      "jpg": {
                        "type": "string"
                      },
                      "webp": {
                        "type": "string"
                      },
                      "gif": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "banner": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Banner ID"
                  },
                  "color": {
                    "type": "string",
                    "description": "Banner colour (HEX)"
                  },
                  "url": {
                    "description": "Banner URLs",
                    "type": "object",
                    "properties": {
                      "png": {
                        "type": "string"
                      },
                      "jpg": {
                        "type": "string"
                      },
                      "webp": {
                        "type": "string"
                      },
                      "gif": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "accentColor": {
                "type": "string",
                "description": "Banner colour (android)"
              }
            }
          }
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {},
    "links": {},
    "callbacks": {}
  },
  "security": []
}